# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables and secrets
.env
.env.*
.streamlit/secrets.toml

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log